In [1]:
import pandas as pd

# 데이터 불러오기
df = pd.read_csv('./data/processed_df.csv')

# 데이터 확인
df.head()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,EMISSIONS,COMB (km/L),CITY (km/L),HWY (km/L)
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,186,12.345679,10.869565,14.925373
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,175,13.157895,11.764706,15.384615
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,230,10.000000,8.196721,13.513514
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,264,8.695652,7.462687,10.869565
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,198,11.627907,10.000000,14.285714